<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9u0ScgpCVW3F8RBVi69PEsNOTSmpAiqw</string>
	<key>GCM_SENDER_ID</key>
	<string>1002977013267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.escapingplan</string>
	<key>PROJECT_ID</key>
	<string>escaping-plan</string>
	<key>STORAGE_BUCKET</key>
	<string>escaping-plan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002977013267:ios:1f601dcda2ee7b196a19e6</string>
</dict>
</plist>
